html {
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
  width: 1440px;
}
.header-main {
  width: 1440px;
  height: 72px;
}
/* Logo header properties */
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  margin-top: 12px;
  margin-left: 78px;
}
/* Logo  Header Main Part */
.main-text-logo {
  color: #2e2f42;
}
/* Menu Header Properties */
.menu-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-flex;
  margin-top: 12px;

  gap: 76px;
}
.ulist-item {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  margin-top: 24px;
  margin-right: 158px;
}
#class-list {
  margin-top: 0;
}
.menu-nav:hover {
  color: #404bbf;
}
.menu-nav:focus {
  color: #404bbf;
}
.menu-nav:active {
  color: #404bbf;
}
/* Address Header properties */
.address-nav {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.address-nav:hover {
  color: #404bbf;
}
/* Header Display Options */
.header-main {
  background-color: WHITE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
}
/* Main box */
.main-box {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
/* Main header */
.main-heading {
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  width: 496px;
  height: 120px;
  text-align: center;
}
/* Main Button */
.main-button {
  color: #fff;
  cursor: pointer;

  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  /* Button properties*/
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  gap: 10px;
}
/* Button Hover */
.main-button:hover {
  background-color: #404bbf;
}
.main-button:focus {
  background-color: #404bbf;
}
/* Description Strenghts */
.conteiner2 {
  width: 1440px;
  height: 400px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
/* Description-list-display */
.description-item {
  list-style: none;
  display: inline-flex;
  background-color: #fff;
  justify-content: center;
  gap: 24px;
  padding: 156px, 156px;
}
/* Description-list-properties */
.description-main {
  list-style: none;
  height: 104px;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
/* Description-list and text-heading properties */
.description-heading {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.description-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
} /* Team member description */
.description-team {
  display: flex;
  flex-direction: column;
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
/* Display u list */
.team-ulist {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 24px;
}
.team-img {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Text options workers */
.team-heading-worker {
  color: #2e2f42;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.team-text {
  color: #434455;
  text-align: center;
  margin-bottom: 32px;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
} /* Heading workers options */
.team-heading {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
} /* Portfolio heading options */
.portfolio-heading {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-top: 120px;
}
.portfolio-img {
  overflow: visible;
  padding: 0px;
  height: auto;
} /* Portfolio Display */
.portfolio-ulist {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 72px;
  margin-bottom: 120px;
}
.portfolio-list {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
/* Portfolio Heading properties */
.portfolio-heading-item {
  color: #2e2f42;
  text-align: center;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-top: 32px;
}
/* Portfolio text properties */
.portfolio-text {
  color: #434455;
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 32px;
}
/* Footer text properties */
.text-footer {
  color: #f4f4fd;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
} /* Footer logo properties */
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.text-link {
  color: #f4f4fd;
  font-family: Raleway sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* Footers properties */
.footer-end {
  background: #2e2f42;
  width: 1440px;
  height: 312px;
  display: flex;
  flex-direction: column;
  gap: 17, 5px;
  align-items: flex-start;
  justify-content: center;
}
.text-footer {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
  margin-bottom: 100px;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-flex;
  margin-left: 156px;
  margin-top: 101px;
}
.text-link {
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
